<html>
<head>
<style>
.thumb {
  max-width: 800px;
  max-height: 800px;
  width: expression(this.width > 800 ? "800px" : true);
  height: expression(this.height > 800 ? "800px" : true);
}
</style>
</head>
<body>
	<img src="banner.png" alt="some_text">
	<br>
	<h2>Where did the Gestrichs come from?</h2>
<p>While the first Gestrichs certainly identified themselves as German, immigration records indicate they were living in Wysoka which is now part of Poland. This is not surprising as nearly 40% of inhabitants of Wysoka were Germans who were colonizing the region at the time. Germans living in Wysoka Poland maintained their own distinct culture -- German-speaking and practicing Lutherans -- as did the Gestrichs.</p>
<h4>Who were the first Gestrichs to come to the United States?</h4>

<h2>Gestrich Timeline</h2>
<div style="width:425px;height:350px"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Wysoka%2C%2Bpoland&ie=UTF8&z=6&t=m&iwloc=near&output=embed"></iframe><br><table width="425" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Wysoka%2C%2Bpoland&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></div>


		<br>
	<h2>How many Gestrichs are there?</h2>
Pittsburgh, Cleveland
</body>
</html>
