<html>
<head>
<title>Gestrich Ancestry</title>
<style>
.thumb {
  max-width: 600px;
  max-height: 600px;
width: expression(this.width > 600 ? "600px" : true);
height: expression(this.height > 600 ? "600px" : true);
}
</style>




<link rel="stylesheet" href="http://code.jquery.com/ui/1.9.1/themes/base/jquery-ui.css" />

<script src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script src="http://code.jquery.com/ui/1.9.1/jquery-ui.js"></script>
<script src="calorie_functions.js"></script>
<script>

</script>

<script type="text/javascript">
var xmlhttp;

function ajaxGet(serverAddress, f){
  if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  }
  else
  {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=f;
  xmlhttp.open("GET", serverAddress, true);
  xmlhttp.send();
}

function ajaxPost(serverAddress, params, f){
    $.ajaxSetup({
  type: 'POST',
  headers: { "cache-control": "no-cache" }
  });
  if (window.XMLHttpRequest)
  {// code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  }
  else
  {// code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }

  xmlhttp.onreadystatechange=f;
  xmlhttp.open("POST", serverAddress, true);

  //Send the proper header information along with the request
  xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
  xmlhttp.setRequestHeader("Content-length", params.length);
  xmlhttp.setRequestHeader("Connection", "close");
  xmlhttp.send(params);
}

function submitComments($a, $b){
 if($a == 'undefined' || $a == "") { window.alert('Please enter a name'); return;}
 if($b == 'undefined' || $b == ""){  window.alert('Please enter your comment'); return};
 comments($a, $b);
}


function comments($a, $b){
  
  ajaxGet("/comments?name="+$a+"&text="+$b, function()
      {
      if(xmlhttp.readyState == 4  && xmlhttp.status == 200){
        var results = xmlhttp.responseText;
        var results = xmlhttp.responseText.split(',');
        var remCalorieField = document.getElementById("comments");
        remCalorieField.innerHTML=results;

      }

      });

}

</script>



<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41216523-1', 'gestrich.org');
  ga('send', 'pageview');

</script>

</head>
<body onLoad="comments('a')">
<img src="banner.png" alt="banner image">
<br>
<inline style="font-size:13px;">Left photo: Robert Gestrich rides in the back on the opening day of the Bloomfield Bridge. Right photo: Robert Gestrich sitting in the back of horse carriage</inline>
<div style="margin-left:45px;">
  <div style="height:1200px;width:900px;float:left">
    <br><br>
    <h2>About</h2>
    <p>This site is in the early stages. The goal is to provide a medium for collaboration in determining the origins of the Gestrich family. Currently, the information here is related to the descendants of Henry Gestrich -- who arrived in Pittsburgh from Europe in the year 1871. He had 8 children, so many of the Gestrichs I've met are descendants of Henry. However, I would like to include information on other Gestrich family lines. If you are interested in sharing information or photos to include on this website, leave a comment below or connect with me on Facebook at https://www.facebook.com/bill.gestrich</p>
    <h2>Gestrich Historical Photos</h2>
      <a href="/robert_g_gestrich">Robert G. Gestrich</a>        
    </p> 
    <h2>When did Henry Gestrich arrive in the United States?</h2>
    <p>Below are German immigration records. The top record is of Ottilie Gestrich who departed with her infant son Hugo for the United States on 8/30/1871 (my great-great-great grandmother). Her husband Heinrich (Henry) Gestrich departed a few months earlier on 4/19/1871. His occupation upon arrival was a baker. They were both 25 years of age at the time. These are the oldest records I have of our ancestry in the Gestrich line. The records both list Ottilie and Heinrich's hometown as Wissek (or Wysoka). Although the text is difficult to read, the origins in Wysoka Poland are available in church records as well.</p>
    <img src="departureRecord.jpg" alt="some_text">
    <h2>But I thought the Gestrichs were German?</h2>
    <table>
    <td valign="top" style="width:800px;height:300px">
    <p>While Henry's descendants identified themselves as German, immigration records indicate they were living in <a href="http://en.wikipedia.org/wiki/Wysoka">Wysoka</a> which is now part of Poland. This is not surprising as nearly 40% of inhabitants of Wysoka were Germans who were colonizing the region at the time. Germans living in Wysoka Poland maintained their own distinct culture -- German-speaking and practicing Lutherans -- as did the Gestrichs.</p>
    </td>
    <td style="width:425px;height:350px"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Wysoka%2C%2Bpoland&ie=UTF8&z=6&t=h&iwloc=near&output=embed"></iframe><br><table width="425" cellpadding="0" cellspacing="0" border="0"><tr><td align="left"><small><a href="http://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=Wysoka%2C%2Bpoland&ie=UTF8&z=12&t=m&iwloc=near">View Larger Map</a></small></td><td align="right"><small><a href="http://www.embedgooglemap.com">embed google map</a></small></td></tr></table></td>
    </table>
    <h2>Comments</h2>

    <form method="post" action="javascript:submitComments(
           document.getElementById('name').value, document.getElementById('commentText').value )">
    Your Name<br>
    <textarea id='name' rows="1" cols="30"></textarea> <br>
    Message <br>
    <textarea id='commentText' rows="4" cols="50"></textarea> <br>
    <input id='submit' type= "submit" style="font-face: 'Comic Sans MS'; font-size: larger; color: brown; background-color: #FFFFC0; border: 3pt ridge lightgrey" name = "submit" value="Submit" />
    </form>
    <div id='comments'>
    </div>
  </div>    
</div>
</body>
</html>
