<html>
<body>
<h1>Robert G Gestrich</h1>
<br>
<img src="robert_gestrich_young.jpg" alt="">
<h3>A young photo of Robert Gestrich</h3>
<br>
<img src="pikes_1901.png" alt="">
<h3>Robert Gestrich in 1901 with members of the "Pittsburgh Lodge No. 11 B.P.O. Elks, at Pike's Peak. He was the exalted ruler for a time. He stands in the back row, second from right.</h3>
<br>
<img src="robert_thursa_young.jpg" alt="">
<h3>Robert Gestrich pictured with his wife Thursa and son Harry.</h3>
<br>
<img src="pikes_1909.png" alt="">
<h3>Robert Gestrich again in 1909 at Pike's Peak with fellow Elk members. He stands in the front, far left.</h3>
<br>
<img src="bloomfieldbridge.jpg" alt="">
<h3>Robert Gestrich, vice president of the Bloomfied board of trade, rides in the back of this car the day the the Bloomfield Bridge opened in 1914 (man with very tall hat)</h3>
<br>
<img src="robert_gestrich_horses.png" alt="">
<h3>Robert Gestrich pictured with a large group.</h3>
<br>
<img src="gestrich_horses_zoom.jpg" alt="">
<h3>Closer shot of above photo. Robert is in the background.</h3>
<br>
<img src="store.png" alt="">
<h3>Robert Gestrich's jewelry store is on the far left. He and his wife Thursa owned/operated jewelry stores from 1898 until his death in 1950.</h3>
<br>
<img src="storezoom.png" alt="">
<h3>Close shot of prior photo</h3>
<br>
</body>
</html
